<header>
  <div class="navbar" id="navbar">
    <div class="hey">Hey!</div>
    <div class="logo" tabindex="0" aria-label="Shubham Khandelwal logo">
      <div class="logo-top">
        <img src="src/png/nav-avatar.png" alt="animation-head" id="nav-avatar"/>
      </div>
    </div>
    
    <!-- Mobile hamburger menu button -->
    <div class="hamburger-menu" id="hamburger-component">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="navbar-tabs" id="navbar-tabs">
      <ul class="navbar-tabs-ul">
        <li class="home activeThistab" class="navbar-tabs-li" data-aos="fade-down" data-aos-delay="100">
          <a href="#home" tabindex="0" aria-label="Home menu button">
            &#60;/Home&#62;
          </a>
        </li>

        <li class="about" class="navbar-tabs-li" data-aos="fade-down" data-aos-delay="300">
          <a href="#about" aria-label="about menu button">
            &#60;/AboutMe&#62;
          </a>
        </li>

        <li class="experience" class="navbar-tabs-li" data-aos="fade-down" data-aos-delay="400">
          <a href="#experience" aria-label="experience menu button">
            &#60;/Experience&#62;
          </a>
        </li>

        <li class="skills" class="navbar-tabs-li" data-aos="fade-down" data-aos-delay="500">
          <a href="#skills" aria-label="skills menu button">
            &#60;/Skills&#62;
          </a>
        </li>

        <li class="projects" class="navbar-tabs-li" data-aos="fade-down" data-aos-delay="700">
          <a href="#projects" aria-label="projects menu button">
            &#60;/Projects&#62;
          </a>
        </li>

        <li class="contact" class="navbar-tabs-li" data-aos="fade-down" data-aos-delay="800">
          <a href="#contact" aria-label="contact menu button">
            &#60;/Contact&#62;
          </a>
        </li>
      </ul>
    </div>
    <!-- navbar tabs ends -->
  </div>
</header>