<section class="skills-section-container" id="skills">
      <div class="skills-section">
        <div class="section-heading" data-aos="fade-up">
          <h2 class="section-heading-article" tabindex="0" aria-label="skills heading">
            &#60;/Skills&#62;
          </h2>
          <p class="sectionHeadingP"></p>
        </div>

        <div class="frontend-dev-section">
          <h3 class="frontend-dev-heading" data-aos="fade-up" tabindex="0"
            aria-label="As a UI/UX designer and web developer, these are my skills">
Development & Design Skill          </h3>
          <ul class="tech-stack-wrapper">
          
            <!-- Web Development Skills -->
            <li class="tech-stack-box" data-aos="fade-up">
              <img src="./src/png/htmllogo.png" alt="Html skill" class="tech-stack-logo" />
              <span class="tooltip">HTML</span>
            </li>
            <li class="tech-stack-box" data-aos="fade-up">
              <img src="./src/png/csslogo.png" alt="css skill" class="tech-stack-logo" />
              <span class="tooltip">CSS</span>
            </li>
            <li class="tech-stack-box" data-aos="fade-up">
              <img src="./src/png/jslogo.png" alt="js skill" class="tech-stack-logo" />
              <span class="tooltip">JS</span>
            </li>
            <li class="tech-stack-box" data-aos="fade-up">
              <img src="./src/svg/Node.js.svg" alt="nodejs skill" class="tech-stack-logo" />
              <span class="tooltip">NodeJS</span>
            </li>
            <li class="tech-stack-box" data-aos="fade-up">
              <img src="./src/svg/nextjs-icon-svgrepo-com.svg" alt="nextjs skill" class="tech-stack-logo" />
              <span class="tooltip">NextJS</span>
            </li>
            <li class="tech-stack-box" data-aos="fade-up">
              <img src="./src/png/pngwing.com.png" alt="express skill" class="tech-stack-logo" />
              <span class="tooltip">Express JS</span>
            </li>
            <li class="tech-stack-box" data-aos="fade-up">
              <img src="./src/svg/MongoDB.svg" alt="mongodb skill" class="tech-stack-logo" />
              <span class="tooltip">MongoDB</span>
            </li>
          </li>
          <li class="tech-stack-box" data-aos="fade-up">
            <img src="./src/svg/PostgresSQL.svg" alt="PostgresSQL skill" class="tech-stack-logo" />
            <span class="tooltip">PostgresSQL</span>
          </li>
            <li class="tech-stack-box" data-aos="fade-up">
              <img src="./src/png/reactlogo.png" alt="react skill" class="tech-stack-logo" />
              <span class="tooltip">REACT</span>
            </li>
            <li class="tech-stack-box" data-aos="fade-up">
              <img src="./src/svg/AngularJS.svg" alt="angular skill" class="tech-stack-logo" />
              <span class="tooltip">AngularJS</span>
            </li>
            <li class="tech-stack-box" data-aos="fade-up">
              <img src="./src/svg/Webflow.svg" alt="webflow skill" class="tech-stack-logo" />
              <span class="tooltip">Webflow</span>
            </li>
              <!-- UI/UX Design Skills - Moved to top -->
              <li class="tech-stack-box" data-aos="fade-up">
                <img src="./src/png/figmalogo.png" alt="figma skill" class="tech-stack-logo" />
                <span class="tooltip">FIGMA</span>
              </li>
              <li class="tech-stack-box" data-aos="fade-up">
                <img src="./src/svg/Logo Design.svg" alt="Logo Design skill" class="tech-stack-logo" />
                <span class="tooltip">Logo Design</span>
              </li>
              <li class="tech-stack-box" data-aos="fade-up">
                <img src="./src/svg/Poster Design.svg" alt="Poster Design skill" class="tech-stack-logo" />
                <span class="tooltip">Poster Design</span>
              </li>
              <li class="tech-stack-box" data-aos="fade-up">
                <img src="./src/png/canvalogo.png" alt="canva skill" class="tech-stack-logo" />
                <span class="tooltip">CANVA</span>
              </li>
              <li class="tech-stack-box" data-aos="fade-up">
                <img src="./src/svg/Photo.svg" alt="Photo editing skill" class="tech-stack-logo" />
                <span class="tooltip">Photo & Video Editing</span>
              </li>
  
            <li class="tech-stack-box" data-aos="fade-up">
              <img src="./src/png/githublogo.png" alt="github skill" class="tech-stack-logo needtobeinvert" />
              <span class="tooltip">GITHUB</span>
            </li>
            <li class="tech-stack-box" data-aos="fade-up">
              <img src="./src/png/gitlogo.png" alt="git skill" class="tech-stack-logo" />
              <span class="tooltip">GIT</span>
            </li>

            <!-- DevOps Skills - Moved to bottom -->
            <li class="tech-stack-box" data-aos="fade-up">
              <img src="./src/svg/devops.svg" alt="DevOps" class="tech-stack-logo" />
              <span class="tooltip">DevOps</span>
            </li>
            <li class="tech-stack-box" data-aos="fade-up">
              <img src="./src/svg/aws.svg" alt="Cloud" class="tech-stack-logo" />
              <span class="tooltip">Cloud</span>
            </li>
            <!-- <li class="tech-stack-box" data-aos="fade-up">
              <img src="./src/svg/Googlr.svg" alt="Google Cloud" class="tech-stack-logo" />
              <span class="tooltip">Google Cloud</span>
            </li> -->
            <!-- <li class="tech-stack-box" data-aos="fade-up">
              <img src="./src/svg/docker.svg" alt="Docker" class="tech-stack-logo" />
              <span class="tooltip">Docker</span>
            </li>
            <li class="tech-stack-box" data-aos="fade-up">
              <img src="./src/svg/kubernetes.svg" alt="kubernetes" class="tech-stack-logo" />
              <span class="tooltip">Kubernetes</span>
            </li>
            <li class="tech-stack-box" data-aos="fade-up">
              <img src="./src/svg/CI-CD.svg" alt="CI/CD" class="tech-stack-logo" />
              <span class="tooltip">CI/CD Pipeline</span>
            </li> -->
          </ul>
        </div>
      </div>
    </section>
    <!-- skills section ends -->